.inter-name {
  font-size: 14px;
  font-weight: 500;
  color: #1f2937; /* Equivalent to text-gray-900 */
  margin-bottom: 0.25rem; /* Equivalent to mb-1 */
  line-height: 1.25; /* Equivalent to leading-tight */
  font-family: InterVariable, system-ui, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}

font-variable {
  line-height: 1.25; /* Equivalent to leading-tight */
  font-family: InterVariable, system-ui, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}


